.Department {
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: rgb(13, 166, 255);
    padding: 1rem 7rem;
    position: relative;
    min-height: 1.5rem;
}

.Department__Button {
    border: 0;
    background-color: black;
    color: white;
    padding: 5px;
    width: 11rem;
}

.Department__List {
    position: absolute;
    margin-top: 27px;
    background-color: white;
}

.Department__ListContainer {
    position: 'fixed';
    display: flex;
    margin-top: '5px';
    background-color: 'white';
    flex-direction: row;
}

.Department__ListTitle {
    width: 11rem;
    box-shadow: 0px 3px 7px black;
    /* padding: 0 5px; */
    /* display: ; */
}

.Department__EachDepart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



/* .Department__EachDepart:hover .Department__EachDepart p .Department__KeyboardIcon {
    color: white;
} */

.Department__EachDepart p {
    color: gray;
    font-size: 10px;
    margin-left: 11px
}


.Department__KeyboardIcon {
    color: lightslategray;
}

.Department__EachDepart:hover {
    background-color: rgb(13, 166, 255);
    cursor: pointer;
}

.Department__EachDepart:hover .Department__KeyboardIcon  {
    color: white;
}

.Department__EachDepart:hover .Department__Title  {
    color: white;
}



.Department__SearchContainer {
    position: relative;
    display: flex;
    align-items: center;
    border: 1px solid lightgray;
    /* background-color: red; */
    width: 60vw;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    margin: 5px 0;
}

.Department__SearchContainer input {
    border: 0;
    /* width: ; */
    /* width: 45rem; */
    flex: 70%;
    height: 100%;
    /* padding: 6px 10px; */
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.Department__Dropdown {
    flex: 15%;
    font-size: 12px;
}

.Department__Search {
    flex: 5%;
    background-color: gray;
    /* height: 100%; */
    padding: 6.5px 0;
}

.Department__SearchContainer select {
    /* width: 10rem; */
    flex: 18%;
    background-color: lightslategray;
}

.Department__SaleButttons {
    display: flex;
    border: 1px solid lightslategray;
    border-radius: 5px;
    background-color: lightgrey;
    /* justify-content: space-between; */
}

.Department__SaleButttons span {
    /* width: 100%; */
    border-right: 1px solid grey;
    padding: 0 .7rem;
}

.Department__HoverContainer {
    display: block;
    background-color: rgba(216, 216, 216, 0.301);
    z-index: 900;
}

.Department__HoverContainer h3 {
    color: blue;
    margin-left: 20px;
    font-size: 1rem;
    padding: 5px 0;
}

.Department__Details {
    width: 12rem;
    z-index: 900;
}

.Department__CategoryHeader {
    padding-left: 20px;
    /* margin: 20px; */
}

.Department__CategoryHeader:hover {
    background-color: rgb(13, 166, 255);
    color: white;
    cursor: pointer;
}

.Department__NameTitle {
    padding: 5px 20px;
    font-size: 12px;
    /* margin: 20px; */
    color: lightslategray;
    /* width: 100%; */
}

.Department__NameTitle:hover {
    color: white;
    background-color: rgb(13, 166, 255);
    cursor: pointer;
}

.Department__Featured {
    width: 10rem;
    padding-top: 30px;
    z-index: 900;
    background-color: white;
}

.Department__Featured h4 {
    margin-left: 20px;
}

.Department__ContentContainer__Search {
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1200px) {
    .Department {
        
        padding: 1rem 5rem;
        position: relative;
    }

}

@media only screen and (max-width: 1100px) {
    .Department {
        
        padding: 1rem 4rem;
        position: relative;
    }

    .Department__List {
        opacity: 0;
    }

    .Department__Button:hover .Department__List {
        opacity: 1;
    }

    .Department__ContentContainer__Search {
        display: none;
    }
    
}

@media only screen and (max-width: 850px) {
    .Department__Button {
        display: none;
    }
}