.Homescreen {
    display: flex;
    overflow-x: hidden;
}

.Homescreen__Empty {
    flex: 0.3;
}

.Homescreen__Advert {
    flex: 0.5;
    /* background-color: lightslategray; */
    min-height: 70vh;
    /* z-index: -1; */
}

.Homescreen__Empty2 {
    flex: 0.2;
}

.Homescreen__Product {
    /* width: 100%; */
    margin: auto;
    padding: 3rem 10rem;

    background-color: rgb(214, 214, 214);
}

@media only screen and (max-width: 1200px) {
    .Homescreen__Product {
        /* width: 100%; */
        padding: 3rem 5rem;
    }
}


@media only screen and (max-width: 1100px) {

    .Homescreen__Empty {
        flex: 0.0;
    }

    .Homescreen__Advert {
        flex: 1;
        /* background-color: lightslategray; */
        min-height: 70vh;
        /* z-index: -1; */
    }
    
    .Homescreen__Empty2 {
        flex: 0.0;
    }

    .Homescreen__Product {
        /* width: 100%; */
        padding: 3rem 3rem;
    }
    
}

@media only screen and (max-width: 900px) {
    .Homescreen__Product {
        /* width: 100%; */
        padding: 3rem 1rem;
    }
}