.Signup {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(236, 236, 236);
}

.Signup__FormContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}