.DrawerCard {
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15em;
    border-bottom: 1px solid lightgray;
}

.DrawerCard:hover {
    cursor: pointer;
}